:root {
  --core-padding: 50px max(4%);
  --mainbg-color: #f2f2f2;
  --header-and-footer-color: #ffffff;
  --border: 3px solid #444444c5;
  --disabled-color: #787878;
  --form-gap: 10px;
  --controls-font-weight: 550;
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-family: "Sora", sans-serif;
}

header {
  background-color: var(--header-and-footer-color);
  padding: var(--core-padding);
  font-size: 1.5rem;
  text-decoration: underline;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.game-data {
  align-self: center;
  display: grid;
  grid-template-rows: 4fr 2fr 2fr;
  row-gap: 20px;
  font-weight: var(--controls-font-weight);
}

form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 20px;
  justify-items: center;
  align-items: center;
  margin: 0 auto;
}

.player-info,
.game-type,
.player-roles {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.player-1-role,
.player-2-role {
  display: flex;
  gap: var(--form-gap);
}

.player-1,
.player-2 {
  display: flex;
  gap: var(--form-gap);
}

.p1-name,
.p2-name {
  border-radius: 4px;
  border: 2px solid #ffffff;
  font-size: 1rem;
}

.game-buttons {
  justify-self: center;
  grid-row: 2 / 3;
}

.alert-messages {
  margin-top: 20px;
  justify-self: center;
  grid-row: 3 / 4;
  font-size: 1.3rem;
}

.alert-messages-error::after {
  font-size: 1.3rem;
  margin-top: 20px;
  color: red;
  display: flex;
  justify-content: center;
  content: "Please complete the required fields.";
}

.player-missing {
  color: red;
  display: flex;
  justify-content: center;
  content: "Both player names are required.";
}

.alert-messages-radio::after {
  font-size: 1.3rem;
  margin-top: 20px;
  color: red;
  display: flex;
  justify-content: center;
  content: "Player 1 and Player 2 cannot be the same role.";
}

.error-text-color {
  color: red;
}

.invalid-name-input {
  border: 2px solid red;
}

.alert-messages::after {
  /* content: "Hello"; */
}

.game-buttons button {
  width: 180px;
  height: 30px;
  margin: 0 20px;
  border-radius: 12px;
  border: 0;
  cursor: pointer;
  font-size: 0.95rem;
  font-weight: var(--controls-font-weight);
}

.game-buttons button:active {
  transform: scale(0.95);
}

.start {
  background-color: lightblue;
}

.reset {
  background-color: lightcoral;
}

.body-content {
  background-color: var(--mainbg-color);
  padding: var(--core-padding);
  box-shadow: inset 0 0 20px 10px #cacaca;
  display: flex;
  justify-content: center;
}

.form-and-board {
  display: grid;
  grid-template-rows: 1fr 4fr;
  max-width: 1100px;
}

.board {
  padding: 25px;
  display: grid;
  grid-template: repeat(3, 30%) / repeat(3, 25%);
  justify-content: center;
  align-content: center;
  position: relative;
}

.board-square {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6rem;
  font-weight: 600;
}

.cover {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #f2f2f27d;
}

.winning-move {
  background-color: #777676c5;
  color: #e4e4e4;
}

.board-square:nth-child(-n + 3) {
  border-bottom: var(--border);
}

.board-square:nth-child(3n + 1) {
  border-right: var(--border);
}

.board-square:nth-child(3n) {
  border-left: var(--border);
}

.board-square:nth-child(n + 7) {
  border-top: var(--border);
}

.disabled-label {
  color: var(--disabled-color);
}

footer {
  background-color: var(--header-and-footer-color);
  padding: var(--core-padding);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

footer a:active {
  transform: scale(0.75);
}
